/*----------------------

  01. Typography
  02. Helpers
  03. Elements
  
-----------------------*/

/*---
  01. Typography

---*/

section.content, section .content, header .content {
	line-height: 2;
	z-index: 3;
	padding-left: 0;
}

/*---
  02. Helpers
---*/

.vcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.dark * {
	color: #fff !important;
	border-color: #fff;
	padding-left: 11px;
	padding-bottom: 0px;
	opacity: 1;
	margin-left: 0px;
}

/*---
  03. Elements
---*/

.bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	height: 700px;
}
